#message{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  padding: 2em;
  transform: translate(-50%, -50%);
  }
  html{
    background-color: gray;
  }