﻿@font-face {
    font-family: aller;
    src: url(../font/aller_rg.ttf);
}
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q 
    quotes: none;
}




q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h2 {
    text-align: center;

}

h3{
    font-size: 1.3em;
}
a {
    text-decoration: none;
    color: #525252;
}
a:hover {
    color: #ef6c00;
}
a:visited {
    
    color: #4F8EF7;
}


/* The Register Modal (background) */
.registerModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Register Modal Content/Box */
.register-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.registerClose {
    padding-right: 10px;
    padding-top: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.registerClose:hover,
.registerClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* The LOGIN Modal (background) */
.loginModal {
   display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.login-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.loginClose {
    color: #aaa;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.loginClose:hover,
.loginClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
fieldset{
    border-radius:20px;
}
fieldset label{
    float:left;
    clear:both;
}
fieldset input{
    float:left;

}
label{
    width : 30em
}


/*  ------------------------      CSS En HAUT = MODAL      -----------------------  */
/*  ------------------------      CSS DU SITE EN BAS       -----------------------  */


nav {
  float: right;
  width: 20%;
}

.nav {
  float: right;
  width: 20%;
}
/*

nav span, nav div, nav form {
    float: right;
    width: 100%;
    text-align: right;
    padding-right:25px;
}

*/

/*********************************css Community*****************************************/

main{
    background-color: #EEEEEE;
}

.clearboth{
    clear:both;
}

#postWrapper{
    float:left;
    width:70%;
    min-height: 60em;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);

    border-radius: 6px;
    padding-top: 10px;

    -ms-transform: translate(2%, -8em); /* IE 9 */
    -webkit-transform: translate(2%, -8em); /* Safari */
    transform: translate(2%, -8em);

}
#sideBar{
    background-color: red;
    margin-top:1.5em;
    margin-right:1.5em; 
    width:30%;
    float:right;
    width:25%;
    padding:2px;
    background-color: #fff;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);

    border-radius: 6px;
}

.aPost{
    margin: 0 auto;
	background-color: #ffffff;
    width:95%;
    margin-bottom: 5px;
    height : 5.5em;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-bottom: 1px solid #fafafa;

}

.leftPostSection{
    text-align: center;
    float:left;
    width: 5%;
    height: 100%;
   /*margin-right: 5%;*/
   
}

.arrows{
    width: 40%;
    height: 30%;
    max-width:100%;
    max-height:100%;
}
#noPost{
    float:left;

}


/*GÉNÉRÉ VIA http://www.bestcssbuttongenerator.com/#/5*/


.button {
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
}
.button:active {
    position:relative;
    top:1px;
}

.btnDeconnexion {
    -moz-box-shadow: 0px 10px 14px -7px #e67a73;
    -webkit-box-shadow: 0px 10px 14px -7px #e67a73;
    box-shadow: 0px 10px 14px -7px #e67a73;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
    background:-moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
    background-color:#e4685d;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.btnDeconnexion:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
    background-color:#eb675e;
}
.btnDeconnexion:active {
    position:relative;
    top:1px;
}


/************fin button généré*******************/
#titlePost{
    margin-bottom: 1%;
}

#subHeader{
	padding-left: 10px;
	height:20em;
	background-color: #1e88e5;
}
#communityName{
	padding-top: 0.2em;
	font-size: 3.2em;
	color:#d2e7fa;

}
#headerText{
	font-size: 1.2em;
	color:#d2e7fa;
}
.rank{
    float: left;
}
.rightOfLeftSection{
    float:right;
}
.selfPost{
    font-size: 0.6em;
}
.adminOption{
    float:right;
    font-size: 0.8em;
}


/*********Post css ***********/
#messageWrapper{
    background-color: #fff;
    min-height: 6em;
    width:80%;
    margin-left: 5em;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #d3d3d3;
    padding: 1em;
    margin-bottom: 1em;

}
.commentWrapper{

    clear:both;
    background-color: #fff;
    margin-bottom: 1em;
    margin-left: 2em;
    padding-top: 0.5em;
    width  :80%;
    min-height: 5em;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #d3d3d3;

}
.voteComment{
    float: left;
}
.voteComment{
    text-align: center;
    float:left;
    width: 5%;
    margin-right: 5%;
   
}
.upvoteIconComment{
    width: auto;
    height: auto;
}
.downvoteIconComment{
    width: auto;
    height:auto;
}
.whomComment{
    color:#4d4d4d;
    font-size: 80%;
}

/*      TRUC POUR REGISTRATION SUCCESS OU FAILED AVEC JAVASCRIPT QUI LE FADE OUT            */

.alert-box {
    position: fixed;
    top: 300px;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    border: 1px solid transparent;
    border-radius: 4px;  
    z-index: 300;
}

.regsuccess, .logsuccess, .logoutsuccess {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.regfailure, .champsfailed, .logfailure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}


/*          Creation community, creation post ==== limit the CKEditor Width                */
.creationCommunity {
    width: 75%;
}
.creationPost {
    width: 75%;
}
#footer{
    text-align: center;
    color: #FFF;
    background-color: #1C7ED4;
    position:fixed;
    bottom:0;
    width:100%;
    height:15px;   /* Height of the footer */
   
}
.navigation{
    padding: 1em;
    background-color: #ffb347;
    margin-top: 3em;
    margin-right: 3em;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#menu{
    text-align: center;
    color:#000;
}
#menuCommunity{
    text-align: center;
    color:#000;
}
#creationCommunity{
    width:50%;
    height:auto;
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%, 0%);
    text-align: center;
    background-color: #ADD8E6;
    padding:1em;
    border-radius: 2em;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

}
#communautes{
    width:60%;
    background-color: #fff;
    margin: 2em;
    padding:1em;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);


}
.posts{
    background-color: #fafafa;
    padding-right: 2em;
}
#posts-wrapper-userpage{
    min-height: 80%
}
.aPost-userpage{
    height: auto;
    margin-left: 2em;
    margin-bottom: 2em;
}
#subFooter{
    margin-bottom: 4em;
}

/*********************************CSS INBOX PAGE *********************************/
.message{
    padding-top: 0.5em; 
    padding-bottom:0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fff;
    margin-top:1em;
    margin-left:3%;
    width:60%;
    height:auto;
     border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}

.message p:last-child{
    font-size: 75%;
}

.message-subject{
    margin-bottom: 0.5em;
}
.titleMessenger{
    clear:left;
    margin-left: 1em;
    margin-top: 1em;
}

#send-message{
    text-align: center;
 
    margin-left: 3em;
}
textarea {
  resize: none;
}
#new-message{
	margin-top: 3em;
    background-color: #fff;
    height:auto;
    width:50%;
    margin-left: 5%;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);

}
#outbox{
    margin-bottom: 5%;
}
html{
font-family: aller;
background-color: #eeeeee;
}

nav form {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}

.login-modal-content, .register-modal-content {
    background-color: #EEE;
}

input[type=submit] {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
}
input[type=submit]:active {
    position:relative;
    top:1px;
}